# ignore everything within a Folder #
##########################################
**/Mitschnitte/**/*.*
**/Workspace/**/*.*

# Except for... #
#################
!*.tex
!*.cpp
!*.h
!*.pdf
!*.asc
!*.png
!*.circ
!*.docx
!*.vpp
!*.txt
!*.java
!*.xml


# and these REALLY DONT! #
##########################

**/NetCase/**/*.*
**/.vscode/**/*.*

**/OOAD/**/*.*

!**/App/**/*.*